{% extends('base.html.twig') %}

{% block body %}

    <div class="jumbotron front c3">
        <div class="line c4"></div>
        <div class="row">
            <div class="col col-6">
                <div class="MainText ">
                    <p class="f5 white">Symfony </p>
                    <p class="f2 gray">Cheat sheet for the set up and more</p>
                </div>
            </div>
            <div class="col col-5 d-none d-md-block">
                <div id="infinity" class="gradient">&nbsp;</div>
            </div>
        </div>
    </div>

{% endblock %}